
@media (max-width: 1279px) {
    .header-section {
        &__header {
            margin: 30px 30px 0 ;
            padding-right: 60px;
            max-width: 100vw;
        }
        &__start-screen {
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 0px auto 0 10px;
            img{
                max-width: 589px;
                max-height: 593px;
                margin-top: 100px;
                margin-left: 126px;
            }
        }
        &__not-only-b {
            width: 480px;
            margin-top: 61px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &__button{ 
                margin-left: 127px;
            }
        }
        
    }
    .about {
        max-width: 87vw;
        display: flex;
        flex-direction:column-reverse;
        align-content: center;
        justify-content: flex-start;
        img {
            width: 300px;
            align-self: center;
        }
        &__h2{
            margin-top: 0;
        }
        &__text {
            align-self: flex-start;
            margin-bottom: 80px;
        }
        
    }
    .our-friends {
        &__block {
            width: 100vw;
        }
        &__slider-block {
            display: flex;
            justify-content: space-between;
            width: 708px;
            gap: 12px;
        }
        &__slider {
            width: 580px;
            padding: 0;
            position: relative;
            left: -580px;
        }
        &__animal-card{
            margin-right: 0px;
        }
    }
    .help {
        width: 100vw;
        &__icons {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            justify-content: space-between;
            column-gap: 65px;
            row-gap: 5px;
        }
        &__icon {
            margin: auto;
            margin-top: 50px;
        }
    }
    .donation {
        background-color: #F6F6F6;
        display: flex;
        justify-content: center;
        &__block {
            width: 100vw;
            flex-direction: column-reverse; 
            padding-top: 89px;
            
        }
        &__dog{
            max-width: 505px;
            align-self: center;
            margin-top: 60px;
        }
        &__disc {
            margin-left: 0px;
            align-self: center;
        }    
    }
    .footer {
        &__block {
            width:100vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 67px;
            row-gap: 57px;
            margin-top: 16px;
            div{
                width: 300px;
            }
            
        }   
        div &__info {
            display: flex;
            flex-direction: row;
            align-self: flex-start;
            margin-top: 33px;
            img {
                width: 40px;
                
            }
        }
        &__location {
            margin-left: -23px;
            div {
                img {
                    width: 22px;
                }
            }
        }
    }
    .slider-wrapper{
        width: 580px;
        position: relative;
        overflow: hidden;
        display: flex;
        // left: 0px;
    }
    .card-template{
        width: 580px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 40px;
        position: relative;
        left: 0px;  
    }
    // animation-carousel
    @keyframes move-left {
        from {left: -580px;};
        to{left: 0px};
    }
    .transition-left{
        animation-name: move-left;
        animation-duration: 1s;
    }
    
    @keyframes move-right {
        from {left: -580px;};
        to{left: -1160px};
    }
    .transition-right{
        animation-name: move-right;
        animation-duration: 1s;
    }
    .modal-block{
        width: 630px;
        height: 350px;
        }
        .modal{
            &__pic{
                width: 350px;
                height: 350px;
            }
        }
        
        .discBlock{
            width: 100%;
            margin: 10px 9px 37px 11px;

            &__name{
                font-size: 35px;
            }
            &__type{
                margin-top: -20px;
                font-size: 20px;
            }
            &__disc{
                font-size: 13px;
            }
            &__details{
                margin-left: 20px;
            }
            &__li{
                margin-top: 5px;
                &::marker{
                    color: #F1CDB3;
                }
            }
            
        }
}
