@media (max-width: 767px) {
    .header-section {   
        overflow: hidden;
        position: relative;
        margin-bottom: 47px;    
        &__header {
            overflow: hidden;
            margin:30px 0 0 0;
            width: 100vw;
            padding: 0px 0 0 10px;
            z-index: 2;
            justify-content: end;
            nav {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                background-color: #292929;
                width: 320px;
                margin: 0;
                right: -320px;
                height: 823px;
                top:0px;
                z-index: -1;
                transition: 0.3s;
                    li {
                        margin: 20px 0;
                        
                        a {
                            margin-left: 0;
                            font-size: 32px;
                            padding-bottom: 7px;
                        }
                    }
                    &.open{
                        right: 0px;
                        transition: 0.3s;
                    }
            }
        }
        &__logo-block{
            margin-right: 40px;
            margin-left: auto;
        }
        &__nav-field{
                    width: 30px;
                    height: 30px;
                    margin-right: 45px;
                    margin-top: 19px;
                    transition: 0.3s;
                    &.open{
                        transform: rotate(90deg); 
                        transition: 0.3s;
                    }
            span {
                position: absolute;
                display: block;
                background-color: #F1CDB3;
                width: 30px;
                height: 2px;
                &:first-of-type{
                    margin-top: 10px;
                }
                &:last-of-type{
                    margin-top: 20px;
                }
            }
        }
        &__start-screen {
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            img {
                width: 260px;
                align-self: center;
                margin-left: 39px;
            }
        }
        &__not-only-b {
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__header {
                width: 230px;
                height: fit-content;
                font-size: 25px;
                line-height: 130%;
                margin-bottom: 50px;
                text-align: center;
                letter-spacing: 0.06em;
            }
            &__p {
                width: 300px;
                font-size: 15px;
                line-height: 160%;
                text-align: center;
            }
            &__button{ 
                align-self: center;
                margin: 0;
                margin-top: 15px;
            }
        }
        
    }
    .about {
        width: 300px;
        margin: 0 auto ;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 43px;
        img{
            width: 260px;
        }
        &__text {
            width: 270px;
            justify-content: space-between;
            margin:0 0 156px 5px;
            text-align: center;
        }
        &__h2 {
            width: 270px;
            font-size: 25px;
            letter-spacing: 0.06em; 
            margin-bottom: 26px;
        }
        &__p {
            text-align: justify;
            height: fit-content;
            width: 270px;
            font-size: 15px;
            line-height: 24px;
            color: #4C4C4C;
            margin-bottom: 19px;
            margin-top: 0px;
            
        }
    }
    .our-friends {
        &__block {
            width: 300px;
            margin: 42px 0 0 0;
            &__button {
                margin-top: -17px;
                margin-bottom: 40px;
            }
        }
        &__header {
            width: 300px;           
            font-size: 25px;
            margin-bottom: 17px;
            }
        &__slider-block {
            display: flex;
            flex-direction: column;
            width: 270px;
        }
        &__slider {
            width: 270px;
            height: 435px;
            display: flex;
            flex-direction: row;
            padding: 0;
            margin-bottom:0;
            position: relative;
            left: -270px;
        }
        &__arrow-left {
            position: relative;
            top: 5px;
            right: 65px;
            order: 2;
            }
        &__arrow-right {
            position: relative;
            top: -62px;
            left: 65px;
            order: 3;
            margin-bottom: 0;
            margin-top: -62px;
            }  
        &__animal-card:hover {
            box-shadow: none;
        }
    }
    
    .help {
        margin: 43px auto 0px auto;
        width: 100vw;
        &__header {
            font-size: 25px;
            line-height: 130%;
        }
        &__icons {
            margin: 0 auto;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(5, 1fr);
            justify-content: center;
            column-gap: 0px;
            row-gap: 30px;
            margin-bottom: 49px;
        }
        &__icon {
            width: 130px;
            height: 87px;
            margin-right: 0px;
            margin-left: 0px;
            margin-top: 0px;
            img{
                width: 50px;
                margin-bottom: 20px;
            }
            p{
                font-size: 15px;
                line-height: 115%;
            }
        }
    }
    .donation {
        &__block {
            margin: 0px 10px 10px 10px;
            width: 300px;
            display: flex;
            flex-direction: column-reverse;
            align-self: center;
            justify-content: center; 
            padding-top: 0px;
            padding-bottom: 30px;
        }
        &__dog{
            max-height: 136px;
        }
        &__disc {
            width: 300px;
            margin-left: 0;
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: center; 
        }
        &__header {
            max-width: 220px;
            text-align: center;
            font-size: 25px;
            line-height: 130%;
            align-self: center;
            margin-top: 42px;
            margin-bottom: 0px;
        }
        &__bank {
            float: none;
            width: 273px;
            height: 17px;
            font-size: 15px;
            align-items: center;
            letter-spacing: 0.00em;
            margin: -2px 0px 23px 13px;
        }
        &__bank-number {
            width: 281px;
            height: 43px;
            margin-bottom: 20px;
            margin-left: 9px;
        }
        &__bank-card-number {
            font-size: 15px;
        }
        &__disc-text {
            margin-left: 10px;
            width: 280px;
            text-align: justify;
        }
    }
    .footer {
        background-image: url(../../images/footer-gradient-background.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: start;
        &__block {
            width: 100vw;
            margin: 0 auto;
            display: block;
            div{
                width: 100vw;
                max-width: 295px;
                display:flex;
                align-self: center;
                justify-content: center;
                flex-direction: column;
                margin: 0 auto;
                margin-top: 20px;   
            }
            h2 {
                font-size: 25px;
                text-align: center;
                line-height: 130%;
                margin-top: 13px;
                margin-bottom: 20px;
            }
        }   
        div &__info {
            display: flex;
            flex-direction: row;
            align-self: flex-start;
            margin-top: 0px;
            &:last-child{
                justify-self: flex-start;
            }
        }
        &__location {
            align-items: center;
            div:last-child{
                margin-left: -15px;
            }
            h2 {
                width: 270px;
                font-size: 25px;
                text-align: center;
                line-height: 130%;
                margin-top: 0px;
                margin-bottom: 20px;
            }
        }
    }
    .footer-puppy {
        width: 260px;
        margin-left: 29px;
        margin-top: 22px;
    }
    .slider-wrapper{
        width: 270px;
        position: relative;
        display: flex;
    }
    .card-template{
        width: 270px;
    }
    // animation-carousel
    @keyframes move-left {
        from {left: -270px;};
        to{left: 0px};
    }
    .transition-left{
        animation-name: move-left;
        animation-duration: 1s;
    }
    
    @keyframes move-right {
        from {left: -270px;};
        to{left: -540px};
    }
    .transition-right{
        animation-name: move-right;
        animation-duration: 1s;
    }
    .modal-block{
    width: 240px;
    height: 341px;
    }
    .modal{
        &__pic{
            display: none;
        }
    }
    
    .discBlock{
        margin: 10px 10px 10px 10px;
        &__name{
            font-size: 35px;
            align-self: center;
        }
        &__type{
            margin-top: 0px;
            text-align: center;
        }
        &__details{
            margin-left: 20px;
            font-size: 13px;
            line-height: 110%;
        }
        &__li{
            margin-top: 5px;
            &::marker{
                color: #F1CDB3;
            }
        }
        
    }

}
.body-hidden{
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(41, 41, 41, 0.6);
        z-index: 1;
    }
}
