.header-section{
    &__start-screen {
        width: 1200px;
        display: flex;
        justify-content: space-between;
        margin: 60px auto 0 auto;
    }
    &__not-only-b {
        width: 460px;
        margin-top: 163px;
        &__header {
            width: 310px;
            height: 114px;
            left: calc(50% - 310px/2 - 75px);
            bottom: 208px;
            font-family: 'georgia', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 44px;
            line-height: 130%;
            color: #FFFFFF;
            margin-bottom: 42px;
        }
        &__p {
            width: 460px;
            height: 72px;
            left: calc(50% - 460px/2);
            bottom: 94px;
            font-family: 'arial', sans-serif;
            font-size: 15px;
            line-height: 160%;
            display: flex;
            align-items: center;
            color: #CDCDCD;
            margin-bottom: 42px;
        }
        &__button{ 
            border: none;
            width: 207px;
            height: 52px;
            background: #fff;
            border-radius: 100px;
            border: 2px solid #F1CDB3;
            &__a {
                font-family: 'georgia', serif;
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 130%;
                letter-spacing: 0.06em;
                color: #292929;
            }
            &:hover {
                background: #F1CDB3;
                transition: 0.5s;
            }
        }
    }
} 
