* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: "arial";
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/arial/arial.eot);
    src: 
    /* url(//shelter/assets/fonts/arial/arial.eot?#iefix) format('embedded-opentype'), */
         url(../../fonts/fonts/arial/arial) format('otf')
         /* url(//shelter/assets/fonts/arial/arial) format('truetype'),
         url(//shelter/assets/fonts/arial/arial.woff2) format('woff2'); */
  }
  @font-face {
    font-family: "georgia";
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/fonts/georgia/georgia.eot);
    src: 
    /* url(../../fonts/fonts/georgia/georgia.eot?#iefix) format('embedded-opentype'), */
         url(../../fonts/fonts/georgia/georgia) format('otf'),
         /* url(/shelter/assets/fonts/georgia/georgia) format('truetype'),
         url(/shelter/assets/fonts/georgia/georgia.woff2) format('woff2'); */
  }
  

/* Сейчас будет больно глазкам, но у меня не было времени всё делать как следует. Когда уволюсь - всё изменится)). А пока удачи нам всем и хорошего дня) */

.headersection {
    background-image: url('../../images/start-screen-gradient-background.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-content: space-around; 
    margin-bottom: 80px;
}

header {
    margin: 60px auto 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.logo {
height: 35px;
font-family: 'georgia', sans-serif;;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 110%;
letter-spacing: 0.06em;
color: #F1CDB3;
}


.logo-p {
height: 15px;
margin-left: 4px;
margin-top: 10px;
top: calc(50% - 15px/2 + 22.5px);
font-family: 'arial', sans-serif;
font-size: 13px;
line-height: 15px;
letter-spacing: 0.1em;
color: #FFFFFF;
}


nav {
    display: flex;
    justify-content: space-between;
    
}
nav li{
    list-style-type: none;
    align-self: center;
}
nav a{
    margin-left: 35px;
    font-family: 'arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #FAFAFA;
}


.start-screen {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 60px auto 0 auto; 
} 
.not-only {
    width: 460px;
    margin-top: 163px;

}
.not-only-header {
    width: 310px;
    height: 114px;
    left: calc(50% - 310px/2 - 75px);
    bottom: 208px;
    font-family: 'georgia', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 42px;
}
.not-only-paragraph {
    width: 460px;
    height: 72px;
    left: calc(50% - 460px/2);
    bottom: 94px;
    font-family: 'arial', sans-serif;
    font-size: 15px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #CDCDCD;
    margin-bottom: 42px;
 }
.not-only-button {
    /* padding: 15px 45px; */
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
}
.not-only-button-a {
    font-family: 'georgia', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
/* About the shelter */

.about {
    width: 1200px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}


.about-text{
    width: 430px;
    height: 380px;
    display: flex;
    flex-direction: column;
}

.about-h2 {
    width: 370px;
    height: 90px;
    font-family: 'georgia', sans-serif;;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    font-weight: 400;  
    margin-top: 3px; 
    margin-bottom: 20px;
}
.about-p {
    width: 430px;
    height: 96px;
    font-family: 'arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    margin-bottom: 25px;
}

/* our friends */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.our-friends-section {
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-friends-block {
    width: 1200px;
    margin: 80px auto 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.our-fiends-header {
width: 400px;
height: 90px;
align-self: center;
margin-bottom: 60px;
font-family: 'georgia', sans-serif;;
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
text-align: center;
letter-spacing: 0.06em;
color: #545454;
}
.slider_block {
    display: flex;
    max-width: 1200px;
}
.slider {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 0 53px;
}
.slider_arrow_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 18px 19px 20px 17px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    margin-bottom: 60px
}
.slider_arrow_left:hover {
    background: #FDDCC4;
}

.slider_arrow_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 18px 19px 20px 17px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    transform: rotate(180deg);
    margin-bottom: 60px
}
.slider_arrow_right:hover {
    background: #FDDCC4;
}

.animal-card {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.animal-card:hover {
    cursor: pointer;
}
.animal-card:hover button{
    cursor: pointer;
    background:#F1CDB3;
}
.animal-card p {
    margin: 30px auto ;
    width: 74px;
height: 23px;
font-family: 'georgia', sans-serif;;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.06em;
color: #545454;
}
.animal-card button {
    width: 187px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    background:#F6F6F6;
}

.animal-card button a{
    font-family: 'georgia', sans-serif;;
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
letter-spacing: 0.06em;
color: #292929;
}
.slider {
    margin-bottom: 60px;
}
.our-friends-block-button {
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    border: none;
}

.our-friends-block-button a{
    font-family: 'georgia', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    align-self: center;
}

/* Help */
.help {
   margin: 80px auto 100px auto;
   width: 1200px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.help-header {
    width: 308px;
    height: 90px;
    font-family: 'georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    margin-bottom: 10px;
}
.icons {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    
}
.icon {
    max-width:max-content;
    margin-right: 60px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-sizing: content-box;
}
.icon img{
    width: 60px;
    margin-bottom: 30px;
}
.icons p{
    text-align: center;
    font-family: 'georgia', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

/* Donation */
.donation-section {
   background-color: #F6F6F6;
   display: flex;
}
.donation-section-block {
    margin: 0 auto 10px auto;
    width: 1200px;
    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 100px;
}
.donation-disc {
width: 380px;
display: flex;
flex-direction: column;
justify-content: space-between;
margin-left: 30px;
}
.donation-disc-header {
    width: 300px;
    height: 90px;
    font-family: 'georgia', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
   }
.donation-disc-bank {
    width: 380px;
    height: 17px;
    font-family: 'georgia', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 10px;
}
.donation-bank-number {
    padding: 10px 15px;
    width: 350px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
 }
.donation-ban-card-number {
    height: 23px;
    font-family: 'georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    align-self: center;
 }
.donation-disc-text {
    height: 72px;
    font-family: 'arial', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    margin-top: 10px;
   }
   /* Footer */
   .footer-section {
       background-image: url(../../images/footer-gradient-background.png);
       background-size: cover;
       display: flex;
       justify-content: center;
   }
.footer-section-block {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.footer-section-contacts img {
    width: 40px;
}
.footer-section-contacts a {
font-family: 'georgia', sans-serif;;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
color: #F1CDB3;
margin-left: 20px;
align-self: center;
}
.footer-section-block div{
    width: 23vw;
    height: 240px;
    max-width: 295px;
    display:flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 16px;
}
.footer-section-block h2{
font-family: 'georgia', sans-serif;;
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
color: #FFFFFF;
}
.footer-section-location img {
    width: 22px;
}
.footer-section-location a {
    font-family: 'georgia', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-left: 20px;
    align-self: center;
}
div .footer-section-info {
    display: flex;
    flex-direction: row;
    align-self: flex-start;

}
    /* pets page */
.headersection-pets{
    background-image: none;
}
.headersection-pets header {
    margin-top: 0;
    padding: 30px;
    padding-bottom: 30px;
    position: sticky;
    top: 0px;
    background-color: #FFFFFF;
}
.logo-pets a{
    color: #545454;
}
.logo-p-pets {
    color: #292929;
}
.pets{
    color: #545454;
}
.our_friends {
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our_friends_block_header {
    width: 370px;
    height: 90px;
    font-family: 'georgia', sans-serif;;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    font-weight: 400;  
    margin-top: 80px; 
    margin-bottom: 60px;
}
.catalogue {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 40px;
    margin-bottom: 60px;
}
.arrows {
    width: 340px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

