* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "arial";
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/arial/arial.eot);
  src: url(../../fonts/fonts/arial/arial) format("otf");
}
@font-face {
  font-family: "georgia";
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/fonts/georgia/georgia.eot);
  src: url(../../fonts/fonts/georgia/georgia) format("otf");
}
.header-section {
  background-image: url("../../images/start-screen-gradient-background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  margin-bottom: 80px;
}
.header-section__header {
  margin: 60px auto 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.header-section__logo {
  height: 35px;
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.header-section__logo-p {
  height: 15px;
  margin-left: 4px;
  margin-top: 10px;
  top: calc(50% - 7.5px + 22.5px);
  font-family: "arial", sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav li {
  list-style-type: none;
  align-self: center;
}
nav a {
  margin-left: 35px;
  font-family: "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #FAFAFA;
}
nav a:hover {
  border-bottom: 3px solid #F1CDB3;
  transition: 0.1s;
}

.active {
  border-bottom: 3px solid #F1CDB3;
}

.header-section__start-screen {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 60px auto 0 auto;
}
.header-section__not-only-b {
  width: 460px;
  margin-top: 163px;
}
.header-section__not-only-b__header {
  width: 310px;
  height: 114px;
  left: calc(50% - 155px - 75px);
  bottom: 208px;
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 42px;
}
.header-section__not-only-b__p {
  width: 460px;
  height: 72px;
  left: calc(50% - 230px);
  bottom: 94px;
  font-family: "arial", sans-serif;
  font-size: 15px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #CDCDCD;
  margin-bottom: 42px;
}
.header-section__not-only-b__button {
  border: none;
  width: 207px;
  height: 52px;
  background: #fff;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
}
.header-section__not-only-b__button__a {
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.header-section__not-only-b__button:hover {
  background: #F1CDB3;
  transition: 0.5s;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about {
  width: 1200px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.about__text {
  width: 430px;
  height: 380px;
  display: flex;
  flex-direction: column;
  margin-left: 120px;
}
.about__h2 {
  width: 370px;
  height: 90px;
  font-family: "georgia", serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  font-weight: 400;
  margin-top: 13px;
  margin-bottom: 20px;
}
.about__p {
  width: 430px;
  height: 96px;
  font-family: "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
  margin-bottom: 19px;
  margin-top: 5px;
}

.our-friends {
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-friends__block {
  width: 1200px;
  margin: 80px auto 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.our-friends__block__button {
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  border: none;
}
.our-friends__block__button a {
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  align-self: center;
}
.our-friends__block__button:hover {
  box-shadow: 0px 1px 35px 5px;
  transition: 0.5s;
}
.our-friends__header {
  width: 400px;
  height: 90px;
  align-self: center;
  margin-bottom: 60px;
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.our-friends__slider-block {
  display: flex;
  max-width: 1200px;
}
.our-friends__slider {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 0 53px;
  margin-bottom: 60px;
}
.our-friends__arrow-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 18px 19px 20px 17px;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  margin-bottom: 60px;
}
.our-friends__arrow-left:hover {
  background: #FDDCC4;
  transition: 0.5s;
}
.our-friends__arrow-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 18px 19px 20px 17px;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  transform: rotate(180deg);
  margin-bottom: 60px;
}
.our-friends__arrow-right:hover {
  background: #FDDCC4;
  transition: 0.5s;
}
.our-friends__animal-card {
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-friends__animal-card:hover {
  cursor: pointer;
  box-shadow: 0px 1px 35px 5px;
  transition: 0.5s;
}
.our-friends__animal-card:hover button {
  cursor: pointer;
  background: #F1CDB3;
}
.our-friends__animal-card p {
  margin: 30px auto;
  width: 74px;
  height: 23px;
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}
.our-friends__animal-card button {
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  background: #F6F6F6;
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.help {
  margin: 80px auto 100px auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.help__header {
  width: 310px;
  height: 90px;
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-bottom: 10px;
}
.help__icons {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.help__icon {
  max-width: max-content;
  margin-right: 60px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  box-sizing: content-box;
}
.help__icon img {
  width: 60px;
  margin-bottom: 30px;
}
.help__icon p {
  text-align: center;
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation {
  background-color: #F6F6F6;
  display: flex;
}
.donation__block {
  margin: 0px auto 10px auto;
  width: 1200px;
  display: flex;
  align-self: center;
  justify-content: center;
  padding-top: 95px;
  padding-bottom: 90px;
}
.donation__dog {
  max-height: 262px;
}
.donation__disc {
  width: 380px;
  margin-left: 30px;
}
.donation__header {
  width: 300px;
  height: 90px;
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 44px;
  align-self: flex-start;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: -9px;
  margin-bottom: 18px;
}
.donation__bank {
  float: right;
  width: 380px;
  height: 17px;
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}
.donation__bank-number {
  padding: 10px 15px;
  width: 350px;
  height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.donation__bank-card-number {
  display: flex;
  justify-content: space-evenly;
  height: 23px;
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation__disc-text {
  height: 72px;
  font-family: "arial", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

.footer {
  background-image: url(../../images/footer-gradient-background.png);
  background-size: cover;
  display: flex;
  justify-content: center;
}
.footer__block {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.footer__block div {
  width: 23vw;
  height: 240px;
  max-width: 295px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.footer__block h2 {
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
div .footer__info {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-top: 33px;
}
div .footer__info a {
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-left: 20px;
  align-self: center;
}
div .footer__info img {
  width: 40px;
}
.footer__location {
  margin-left: -19px;
}
.footer__location div img {
  width: 22px;
}
.footer__location div a {
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-left: 20px;
  align-self: center;
}

/*# sourceMappingURL=stylee.css.map */
