.our-friends {
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__header {
        width: 400px;
        height: 90px;
        font-family: 'georgia', serif;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
        font-weight: 400;  
        margin-top: 80px; 
        margin-bottom: 60px;
        text-align: center;
    }
    &__catalogue {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 30px;
        grid-column-gap: 40px;
        max-height: 930px;
        position: relative;
        top: 0;
        transition: 0.5s all;
        &__wrapper{
            overflow: hidden;
            width: 1200px;
            height: 930px;
            margin-bottom: 60px;
        }
    }
    &__pagination-buttons{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 100px;
    }
    &__page-btn{
        width: 52px;
        height: 52px;
        border: 2px solid #F1CDB3;
        border-radius: 100px;
            &__prev, 
            &__start {
                color: #cdcdcd;
                border: 2px solid #cdcdcd;
            }
        &__.active{
            border: 2px solid #F1CDB3;
            background-color: #F1CDB3;
        }
        .prev, 
        .start {
            color: #cdcdcd;
            border: 2px solid #cdcdcd;
        }
    }
}
.our-friends__animal-card {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
        cursor: pointer;
        box-shadow: 0px 1px 35px 5px;
        transition: 0.5s;
        button{
            cursor: pointer;
            background:#F1CDB3;
        }
    }
    p {
        margin: 30px auto ;
        width: 74px;
        height: 23px;
        font-family: 'georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: #545454;
    }
    button {
        width: 187px;
        height: 52px;
        border-radius: 100px;
        border: 2px solid #F1CDB3;
        background:#F6F6F6;
        font-family: 'georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #292929;
    }
}
button{
    background: none;
    cursor: pointer;
    &.prev, 
    &.start {
        color: #cdcdcd;
        border: 2px solid #cdcdcd;
    }
    &[disabled]{
        cursor: not-allowed;
    }
    &:not([disabled]):hover{
        background-color: #F1CDB3;
        }
    &.active{
        border: 2px solid #F1CDB3;
        background-color: #F1CDB3;
    }
}   
.modal-block{
    opacity: 1;
    display: none;
    width: 900px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30; 
    border-radius: 15px;
    background-color: #fff;
    transition: 0.1s all;
}

.modal{
    z-index: 30;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0%;
    &__pic{
        width: 500px;
        height: 500px;
    }
    &__close-btn{
        display: block;
        width: 52px;
        height: 52px;
        background-color: #292929;
        border: 2px solid #F1CDB3;
        border-radius: 50%;
        position: absolute;
        top: -52px;
        left: 100%;
        &:hover{
            background-color: #F1CDB3;
        }
    }
}

.discBlock{
    width: 100%;
    margin: 50px 20px 88px 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'georgia', serif;
    letter-spacing: 0.06em;
    color: #000000; 
    &__name{
        font-size: 35px;
    }
    &__type{
        margin-top: -40px;
    }
    &__details{
        margin-left: 20px;
    }
    &__li{
        margin-top: 5px;
        &::marker{
            color: #F1CDB3;
        }
    }
    
}
.body-hidden-slider{
    overflow: hidden;
    &:after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(41, 41, 41, 0.6);
        z-index: 10;
    }
}
.pic{
    display: block;
}