@media (max-width: 767px) {
    .headersection {   
        overflow: hidden;
        margin: 0;   
        &__header {
            margin: 0 ;
            width: 100vw;
            padding: 30px 10px;
        }
        &__logo-block{
            margin-right: 39px;
            margin-left: auto;
        }
        &__nav-field{
                    width: 30px;
                    height: 30px;
                    margin-right: 45px;
                    margin-top: 19px;
                    transition: 0.3s;
                    &.open{
                        transform: rotate(90deg); 
                        transition: 0.3s;  
                    }
            span {
                position: absolute;
                display: block;
                background-color: #000000;
                width: 30px;
                height: 2px;
                &:first-of-type{
                    margin-top: 10px;
                }
                &:last-of-type{
                    margin-top: 20px;
                }
            }
        }
        nav {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            background-color: #fff;
            width: 320px;
            margin: 0;
            right: -320px;
            height: 823px;
            top:0px;
            z-index: -1;
            transition: 0.3s;
                li {
                    margin: 20px 0;
                    a {
                        margin-left: 0;
                        font-size: 32px;
                        padding-bottom: 7px;
                        color:#000000;
                    }
                }
                &.open{
                    right: 0px;
                    transition: 0.3s;
                }
        }
    .active {
        border-bottom: 3px solid #000000;
    }
    }
    .our-friends {
        &__header {
            width: 100vw;
            font-size: 25px; 
            margin-top: 40px; 
            margin-bottom: 18px;
        }
        &__catalogue {
            grid-template-columns: repeat(1, 1fr);
        }
        &__pagination-buttons{
            gap: 10px;
            margin-bottom: 44px;
        }
        &__animal-card:hover {
            box-shadow: none;
        }
    }    
    .footer {
        background-image: url(../../images/footer-gradient-background.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        &__block {
            width: 100vw;
            margin: 0 auto;
            display: block;
            div{
                width: 100vw;
                max-width: 295px;
                display:flex;
                align-self: center;
                justify-content: center;
                flex-direction: column;
                margin: 0 auto;
                margin-top: 20px;   
            }
            h2 {
                font-size: 25px;
                text-align: center;
                line-height: 130%;
                margin-top: 13px;
                margin-bottom: 20px;
            }
        }   
        div &__info {
            display: flex;
            flex-direction: row;
            align-self: flex-start;
            margin-top: 0px;
        }
        &__location {
            align-items: center;
            div:last-child{
                margin-left: -15px;
            }
            h2 {
                width: 270px;
                margin-top: 0px;
            }
        }
    }
}
.footer-puppy {
    display: block;
    width: 260px;
    margin: auto;
    margin-top: 20px;
    align-self: center;
}