* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "arial";
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/arial/arial.eot);
  src: url(../../fonts/fonts/arial/arial) format("otf");
}
@font-face {
  font-family: "georgia";
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/fonts/georgia/georgia.eot);
  src: url(../../fonts/fonts/georgia/georgia) format("otf");
}
.headersection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}
.headersection__header {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  position: sticky;
  top: 0px;
  background-color: #FFFFFF;
}
.headersection__logo {
  height: 35px;
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.headersection__logo a {
  color: #545454;
}
.headersection__logo-p {
  height: 15px;
  margin-left: 4px;
  margin-top: 10px;
  top: calc(50% - 7.5px + 22.5px);
  font-family: "arial", sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav li {
  list-style-type: none;
  align-self: center;
}
nav a {
  margin-left: 35px;
  font-family: "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
}
nav a:hover {
  border-bottom: 3px solid #F1CDB3;
  transition: 0.1s;
}
nav .active {
  border-bottom: 3px solid #F1CDB3;
}

.our-friends {
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-friends__header {
  width: 400px;
  height: 90px;
  font-family: "georgia", serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  font-weight: 400;
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
}
.our-friends__catalogue {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 40px;
  margin-bottom: 60px;
}
.our-friends__pagination-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px;
}
.our-friends__page-btn {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
}
.our-friends__page-btn__prev, .our-friends__page-btn__start {
  color: #cdcdcd;
  border: 2px solid #cdcdcd;
}
.our-friends__page-btn__.active {
  border: 2px solid #F1CDB3;
  background-color: #F1CDB3;
}
.our-friends__page-btn .prev,
.our-friends__page-btn .start {
  color: #cdcdcd;
  border: 2px solid #cdcdcd;
}

.our-friends__animal-card {
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-friends__animal-card:hover {
  cursor: pointer;
  box-shadow: 0px 1px 35px 5px;
  transition: 0.5s;
}
.our-friends__animal-card:hover button {
  cursor: pointer;
  background: #F1CDB3;
}
.our-friends__animal-card p {
  margin: 30px auto;
  width: 74px;
  height: 23px;
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}
.our-friends__animal-card button {
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  background: #F6F6F6;
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

button {
  background: none;
  cursor: pointer;
}
button.prev, button.start {
  color: #cdcdcd;
  border: 2px solid #cdcdcd;
}
button[disabled] {
  cursor: not-allowed;
}
button:not([disabled]):hover {
  background-color: #F1CDB3;
}
button.active {
  border: 2px solid #F1CDB3;
  background-color: #F1CDB3;
}

.footer {
  background-image: url(../../images/footer-gradient-background.png);
  background-size: cover;
  display: flex;
  justify-content: center;
}
.footer__block {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.footer__block div {
  width: 23vw;
  height: 240px;
  max-width: 295px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.footer__block h2 {
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
div .footer__info {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-top: 33px;
}
div .footer__info a {
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-left: 20px;
  align-self: center;
}
div .footer__info img {
  width: 40px;
}
.footer__location {
  margin-left: -19px;
}
.footer__location div img {
  width: 22px;
}
.footer__location div a {
  font-family: "georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-left: 20px;
  align-self: center;
}

@media (max-width: 1279px) {
  .headersection__header {
    margin: 30px 30px 0;
    padding-right: 30px;
    padding-top: 30px;
    padding-left: 30px;
    margin-top: 0px;
    max-width: 100vw;
    margin-left: 0px;
    justify-content: space-between;
  }

  .our-friends__header {
    margin-bottom: 30px;
  }
  .our-friends__catalogue {
    grid-template-columns: repeat(2, 1fr);
    max-height: 1365px;
    overflow: hidden;
    margin-bottom: 40px;
  }
  .our-friends__pagination-buttons {
    margin-bottom: 76px;
  }

  .footer__block {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 67px;
    row-gap: 57px;
    margin-top: 16px;
  }
  .footer__block div {
    width: 300px;
  }
  div .footer__info {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin-top: 33px;
  }
  div .footer__info img {
    width: 40px;
  }
  .footer__location {
    margin-left: -23px;
  }
  .footer__location div img {
    width: 22px;
  }
}
@media (max-width: 767px) {
  .headersection {
    margin: 0;
  }
  .headersection__header {
    margin: 0;
    width: 100vw;
    padding: 30px 10px;
  }
  .headersection nav {
    display: none;
  }

  .our-friends__header {
    width: 100vw;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 18px;
  }
  .our-friends__catalogue {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-friends__pagination-buttons {
    gap: 10px;
    margin-bottom: 44px;
  }

  .footer {
    background-image: url(../../images/footer-gradient-background.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .footer__block {
    width: 100vw;
    margin: 0 auto;
    display: block;
  }
  .footer__block div {
    width: 100vw;
    max-width: 295px;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
  }
  .footer__block h2 {
    font-size: 25px;
    text-align: center;
    line-height: 130%;
    margin-top: 13px;
    margin-bottom: 20px;
  }
  div .footer__info {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin-top: 0px;
  }
  .footer__location {
    align-items: center;
  }
  .footer__location div:last-child {
    margin-left: -15px;
  }
  .footer__location h2 {
    width: 270px;
    margin-top: 0px;
  }
}
.footer-puppy {
  display: block;
  width: 260px;
  margin: auto;
  margin-top: 20px;
  align-self: center;
}

/*# sourceMappingURL=style-pets.css.map */
